:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #2196F3;
}
 body {
    font-family: var(--main-font);
    color: var(--main-color);
}

/* ======COMPONENTS====== */
.modal-btn {
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
}

.address {
    font-style: normal;
}

/* ======END COMPONENTS====== */


/* ======HEADER====== */
.studio-color {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #212121;
}

.web-color {
    font-family: var(--secondary-font);
    color: #2196F3;
}

.navigation {
}

.navigation-list {
}


.navigation-list-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.navigation-list-menu:hover,
.navigation-list-menu:focus {
    color: var(--secondary-color);
    text-decoration: underline;
}

.contact-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.contact-date:hover,
.navigation-list-menu:focus {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* ======END HEADER====== */

/* ======TEXT BOXES====== */
.main-header {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    color: #FFFFFF;
    background-color: #2F303A;;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.boxes {
}

.boxes-text {

}

.boxes-text-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.boxes-text-header-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ======END TEXT BOXES====== */

/* ======ABOUT US====== */
.secondary-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.boxes-text-header-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.boxes-text-header-name-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ======END ABOUT US====== */


/* ======FOOTER====== */
.address {
    background-color: #2F303A;;
}

.studio-color-small {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
}

.address-list {
}

.address-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.address-list-item-data {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
}

/* ======END FOOTER======*/

/* ======PORTFOLIO======*/

/*Portfolio navigation without hover*/
.navigation-list-menu-blue-dark {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.navigation-list-menu-blue {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.navigation-list:hover,
.navigation-list:focus,
.contact-date-portfolio:hover,
.contact-date-portfolio:focus{
    text-decoration: underline
}

.contact-date-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

/*End portfolio navigation without hover*/

.modal-btn-filter {
    background: #F5F4FA;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
}

.modal-btn-filter:hover,
.modal-btn-filter:focus {
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #FFFFFF;
}

.projects-portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.projects-portfolio-name-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ======END PORTFOLIO======*/